﻿body {
    margin: 0px;
    padding: 0px;
   
    overflow: auto;

}

* {
    font-family: Ubuntu;
}


#citySearchBar {
    padding: 20px;
    font-family: Ubuntu;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    letter-spacing: 0.8px;
}