﻿@{
    ViewBag.Title = "Service Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="container" class="row d-flex flex-direction">

    <!-- Weather card -->
    <div style="margin:10px;">
        @Html.Action("CitySearchComponent")
    </div>

    <div id="UvAndWeatherCardSection" class="row align-self-center justify-content-center" style="margin:10px;">
        @Html.Action("UvCard")
        @Html.Action("WeatherCard")
    </div>
    <!-- Weather card -->
    <!-- Precaution List Card2 -->
    <div id="PrecautionsSection" style="margin:10px;">
        @Html.Action("Precautions")
    </div>
    <!-- Precaution List Card -->
    <!--Activities-->
    <div id="ActivitesSection" style="margin:10px;">

        @Html.Action("Activities")
    </div>
    <!--==========-->
    <!-- Sunburn treatment-->
    <div id="SunburnTreatmentSection" style="margin:10px;">
        @Html.Action("Sunburn_treatment")
    </div>
    <!--===========-->
    <!--UVHarm-->
    <div id="UvHarmSection" style="margin:10px;">
        @Html.Action("UVHarm")
    </div>
    <!--==========-->
    <!-- Assessment -->
    <div id="AssessmentSection" style="margin:10px">
        @Html.Action("Assessment")
    </div>
    <!--==========-->
    <!--Charts-->
    <div id="ChartsSection" style="margin:10px;">
        @Html.Action("Charts")
    </div>
    <!--==========-->

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="~/Scripts/Index.js"></script>
<script src="~/Scripts/ChartsScript.js"></script>