﻿<div>
    <div class="row align-self-center justify-content-center">
        <div class="col-md-8">
            <div class="accordion-item">
                <div id="headingThree">
                    <button id="PrecautionsSectionBtn" class="accordion-button collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree">

                        <div class="d-flex flex-row">
                            <div class="d-flex ms-2 me-4 flex-column">
                                <img src="~/Assets/Images/shield.png" width="40" />
                            </div>
                            <div class="d-flex flex-column ">
                                <h3>Precautions for today</h3>
                            </div>
                        </div>

                    </button>
                </div>

                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        @Html.Action("ActionDetails", new { type = 1 })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>