﻿
<div class="row align-self-center justify-content-center">
    <div class="col-md-8">
        <div class="accordion-item">
            <div id="ActivitiesHeading">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#sunburnt_treatment_data"
                        aria-expanded="false"
                        aria-controls="ActivitiesCollapse">
                    <div class="d-flex flex-row">
                        <div class="d-flex ms-2 me-4 flex-column">
                            <img src="~/Assets/Images/sun-protection.svg" width="40" />
                        </div>
                        <div class="d-flex flex-column ">
                            <h3>Treatments for sunburn</h3>
                        </div>
                    </div>

                </button>
            </div>
            <div id="sunburnt_treatment_data" class="accordion-collapse collapse" aria-labelledby="ActivitiesHeading" data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row" style="background-color: #eeee; padding: 10px;
                            display: flex;
                                justify-content: center; align-items: center;">
                        <ul class="list-group list-group-light">
                            <div class="d-flex flex-column p-3">
                            <li class="list-group-item p-4"><h5>Get out of the sun and preferably go indoors.</h5> </li>
                            <li class="list-group-item p-4"><h5>Avoid further sun exposure until the sunburn heals.</h5> </li>
                            <li class="list-group-item p-4"><h5>Cool the skin with a damp cloth or towel, or take a cool bath.</h5> </li>
                            <li class="list-group-item p-4"><h5>Apply moisturizer or aftersun cream, such as aloe vera.</h5> </li>
                            <li class="list-group-item p-4"><h5>Take over-the-counter medications, such as ibuprofen or other nonsteroidal anti-inflammatory medications (NSAIDs) to relieve pain and reduce swelling.</h5> </li>
                            <li class="list-group-item p-4"><h5>Apply hydrocortisone cream to reduce inflammation and itching.</h5> </li>
                            <li class="list-group-item p-4"><h5>Drink extra water to help prevent dehydration.</h5> </li>
                            <li class="list-group-item p-4"><h5>Avoid touching or breaking small blisters to reduce the risk of infection. Blisters protect the skin.</h5> </li>
                            <li class="list-group-item p-4"><h5>Avoid scratching, picking at, or removing peeling skin.</h5> </li>
                            <li class="list-group-item p-4"><h5>Wear loose-fitting clothing while the skin heals.</h5> </li>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>