﻿<div>
    <div class="row align-self-center justify-content-center">
        <div class="col-md-8">
            <div class="accordion-item">
                <div id="ActivitiesHeading">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#ActivitiesCollapse"
                            aria-expanded="false"
                            aria-controls="ActivitiesCollapse">
                        <h1>Measures For Sunburn    </h1>
                    </button>
                </div>
                <div id="ActivitiesCollapse" class="accordion-collapse collapse" aria-labelledby="ActivitiesHeading" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group list-group-light">
                            <div class="row">
                                <div class="col-lg-6">
                            <li class="list-group-item px-5">
                                <h5>Wash your face twice a day (no more) with warm water and a mild soap.</h5>
                            </li>
                            <li class="list-group-item px-5"><h5>Stay Hydrated, Drink Water every 30 minutes</h5></li>
                            <li class="list-group-item px-5"><h5>Reapply Sunscreen after every 4 hours</li>
                            <li class="list-group-item px-5"><h5>Use Less Make Up</h5></li>
                    </div>
                    <div class="col-lg-6">

                        <li class="list-group-item px-5"><h5>Moisturize Only if Needed</h5></li>
                        <li class="list-group-item px-5"><h5>Keep a face mist handy</h5></li>

                        <li class="list-group-item px-5"><h5>Eat Cool Foods</h5></li>

                        <li class="list-group-item px-5"><h5>Reach for cooling and mattifying DIY masks</h5></li>
                    </div>
                </div>
                </ul>
            </div>
        </div>
    </div>
</div>