﻿@using SkinCareWebApp.Models
@model UvModel

<div class="col-md-8 col-lg-6 col-xl-4" id="uv-card">
    <div class="card" style="color: #4B515D; border-radius: 35px; height: 100%">
        <div class="card-body p-4">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <div class="d-flex flex-column flex-grow-1 text-center ">
                        <h4 class="flex-grow-1 align-self-start">UV Index Info</h4>
                    </div>
                    <div class="d-flex flex-column align-items-start text-center">
                        <h6 id="uvCardTimeEle"></h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex flex-column flex-grow-1 ">
                        <div class="d-flex flex-grow-1 align-items-center justify-content-center text-center">
                            <h6 class="display-4 mt-4 mb-0 font-weight-bold" style="color: #1C2331;"> @Math.Round(Model.uv,1)</h6>
                        </div>
                        <div class="d-flex flex-grow-1 mt-4 ">
                            <div class="d-flex text-center mb-4">
                                <input id="uvRangeEle" disabled type="range" value=@Model.uv max="11" style="width:100%;color:mediumslateblue" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 justify-content-end align-items-end">
                        <img src="~/Assets/Images/uv_image.jpg" style="width:90%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>