﻿
<div class="row align-self-center justify-content-center">
    <div class="col-md-8">
        <div class="accordion-item">
            <div id="UVHarmHeading">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#UVHarmCollapse"
                        aria-expanded="false"
                        aria-controls="UVHarmCollapse">


                    <div class="d-flex flex-row">
                        <div class="d-flex ms-2 me-4 flex-column">
                            <img src="~/Assets/Images/uv-rays.png" width="40" />
                        </div>
                        <div class="d-flex flex-column ">
                            <h3>Harmfull Effects of UV Rays</h3>
                        </div>
                    </div>
                </button>
            </div>
            <div id="UVHarmCollapse" class="accordion-collapse collapse" aria-labelledby="UVHarmHeading" data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row" style="background-color: #eeee; padding: 20px;
                            display: flex;
                                justify-content: center; align-items: center;">
                        <div class="row">
                            <div class="col-lg-12" style="display: flex; justify-content: center;
                                                    align-items: center;">
                                <h3>Sun Burn</h3>
                            </div>
                        </div>

                        <div class="row" style="background-color:white;">
                            <div class="col-lg-6">
                                <ul class="list-group list-group-light">
                                    <li class="list-group-item px-5">
                                        <h5>Sunburn is a sign of short-term overexposure, while premature aging and skin cancer are side effects of prolonged UV exposure.</h5>
                                    </li>
                                    <li class="list-group-item px-5"><h5>Sunburn is caused by exposure to two types of ultraviolet rays from the sun: UVA rays and UVB rays.</h5></li>
                                    <li class="list-group-item px-5">
                                        <h5>
                                            Always wear sunscreen. Apply it on your skin every day. Make it a habit, as you do with brushing your teeth.
                                            Know more at
                                            <a href="https://www.healthline.com/health/sunburn#:~:text=Sunglasses%20protect%20your%20eyes%20and,date%20before%20you%20use%20it.">
                                                healthline.com
                                            </a>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <img src="https://img.freepik.com/free-vector/flat-design-people-with-sunburn-illustration_23-2148998737.jpg?w=2000"
                                     style="width:100%;object-fit:cover;" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="background-color: #eeee; padding: 20px;
                            display: flex;
                                justify-content: center; align-items: center;">
                        <div class="row">
                            <div class="col-lg-12" style="display: flex; justify-content: center;
                                                    align-items: center;">
                                <h3>Immune System Damage</h3>
                            </div>
                        </div>

                        <div class="row" style="background-color:white;">
                            <div class="col-lg-6">
                                <img src="https://media.istockphoto.com/vectors/man-with-weak-immune-system-not-protected-from-attacks-viruses-and-vector-id1302827254?b=1&k=20&m=1302827254&s=612x612&w=0&h=9VX4jjOZ-CklzCvRC05hjVvhTHHw1p1Pp-Gd4HGW8-I="
                                     style="width:100%;object-fit:cover;" />
                            </div>

                            <div class="col-lg-6">
                                <ul class="list-group list-group-light">
                                    <li class="list-group-item px-5">
                                        <h5>The skin is part of the body's natural defense system. Many healthcare professionals believe that UV radiation can alter immune system functions.</h5>
                                    </li>
                                    <li class="list-group-item px-5"><h5>When UV radiation suppresses immune responses, the body's ability to fight certain diseases, including skin cancer, is reduced</h5></li>
                                    <li class="list-group-item px-5"><h5>It is suspected that overexposure to UV radiation also interferes with the effectiveness of immunizations given through the skin.</h5></li>
                                    <li class="list-group-item px-5">
                                        <h5>
                                            Wear protective clothing and a broad-brimmed sunhat. You can carry Umbrella for Protection.
                                            Know more from
                                            <a href="https://www.who.int/news-room/questions-and-answers/item/Radiation-effects-of-ultraviolet-(uv)-radiation-on-the-skin-eyes-and-immune-system">
                                                who.init
                                            </a>
                                        </h5>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
